@import url(https://fonts.googleapis.com/css?family=Bungee+Shade|Cormorant+Garamond);

html { 
  background-image: url("../images/homepage.jpg");
  background-size: cover;
}

body {
  font-size: 18px;
  font-family: 'Bungee Shade', cursive;
  text-align: center;
}

header {
  background-color: turquoise;
  border: 1px black solid;
  padding: 20px;
}

h1, h2 {
  text-transform: uppercase;
  border-bottom: 4px solid black;
  display: inline-block;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  padding: .8em 0;
}

img {
  display: block;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  padding: 1em 0;
}