@import url(https://fonts.googleapis.com/css?family=Bungee+Shade|Cormorant+Garamond);

background: url("../images/homepage.jpg");
	background-size: cover;
	
h1 {
	font-family: 'Bungee Shade', cursive;
	font-size: 100px;
	text-align: center;
}
p {
	font-family: 'Cormorant Garamond', serif;
	font-size: 30px;
	text-align: center;
	color: black;
}

#slogan {
	font-family: 'Cormorant Garamond', serif;
	font-size: 30px;
	text-align: center;
	color: black;
}

