body {
	text-align: center;
	background: url("../images/homepage.jpg");
	background-size: cover;
	color: #5354E8;
	font-family: Helvetica;
}

#slogan {
	font-style: italic;
}

ul{
	list-style-type: none;
}
